.clients, .services-cards-pair, .services, .experience, .intro-text, .intro, .welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-cards {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
}

.clients-cards-ages-bg, .clients-cards-teams-bg, .services-cards-pair-conditioning, .services-cards-pair-injury, .services-cards-pair-sport, .services-cards-pair-cardio, .services-cards-top, .experience, .welcome {
  background-size: cover;
  background-repeat: no-repeat;
}

.clients-cards-ages p, .clients-cards-teams p, .services-cards-pair-conditioning p, .services-cards-pair-injury p, .services-cards-pair-sport p, .services-cards-pair-cardio p, .services-cards-top p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  background-color: rgba(108, 122, 137, 0.5);
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

header {
  width: 250px;
  height: 100%;
  color: white;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
}

section {
  margin-left: -10px;
  margin-right: -8px;
  margin-top: -10px;
  padding-left: 250px;
}

.container {
  width: 100%;
}

.welcome {
  text-align: center;
  background-image: url(../img/welcome.jpg);
  height: 100vh;
  color: white;
}
.welcome-text {
  margin-top: 15%;
  font-family: "Poppins", sans-serif;
}
.welcome-text h1 {
  font-size: 40px;
}
.welcome-text h2 {
  font-size: 30px;
  margin-top: 10%;
}
.welcome-text p {
  font-size: 25px;
  margin-top: 15%;
}

.intro {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.intro-text {
  background-color: #282828;
  color: #cccccc;
  width: 90%;
}
.intro-text-format {
  width: 65%;
  margin-bottom: 10%;
}
.intro-text-format h2 {
  margin-top: 10%;
  font-size: 35px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.intro-text-format p {
  font-size: 16px;
  margin-bottom: 15%;
  line-height: 1.7;
}
.intro-text-format h4 {
  font-size: 20px;
  color: white;
}

.experience {
  justify-content: space-around;
  background-image: url(../img/certificate.jpg);
  width: 100%;
  min-height: 300px;
  margin-bottom: 10%;
}
.experience-card {
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 20px;
}

.services {
  margin-bottom: 10%;
}
.services-cards {
  width: 70%;
}
.services-cards-top {
  position: relative;
  width: 100%;
  min-width: 200px;
  height: 200px;
  background-image: url(../img/strength.jpg);
}
.services-cards-pair {
  margin-top: 5px;
}
.services-cards-pair-cardio {
  position: relative;
  width: 49.5%;
  height: 300px;
  background-image: url(../img/cardio.jpg);
  margin-right: 1%;
}
.services-cards-pair-sport {
  position: relative;
  width: 49.5%;
  height: 300px;
  background-image: url(../img/sport.jpg);
}
.services-cards-pair-injury {
  position: relative;
  width: 49.5%;
  height: 400px;
  background-image: url(../img/injury.jpg);
  margin-right: 1%;
}
.services-cards-pair-conditioning {
  position: relative;
  height: 400px;
  width: 49.5%;
  background-image: url(../img/season-conditioning.jpg);
}

.clients-cards {
  width: 70%;
}
.clients-cards-teams {
  position: relative;
}
.clients-cards-teams-bg {
  height: 300px;
  width: 100%;
  margin-right: 1%;
  background-image: url(../img/professional-training.jpg);
}
.clients-cards-teams p {
  text-align: center;
  font-size: 25px;
  top: 60%;
}
.clients-cards-ages {
  position: relative;
}
.clients-cards-ages-bg {
  height: 300px;
  width: 100%;
  margin-right: 1%;
  background-image: url(../img/all-ages-training.jpg);
}
.clients-cards-ages p {
  text-align: center;
  font-size: 25px;
  top: 60%;
}

/*# sourceMappingURL=index.css.map */
