$font-gray: gray;
$font-black: black;
$font-white: white;
$font-article: #cccccc;
$bg-white: white;
$bg-black: black;
$bg-section: #282828;
$font-title: "Poppins", sans-serif;

%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

%flex-colum {
  display: flex;
  flex-direction: column;
  vertical-align: center;
}

%bg-image-set {
  background-size: cover;
  background-repeat: no-repeat;
}

%card-text {
  p {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color:$font-white;
    font-family: $font-title;
    font-size: 24px;
    background-color: rgba(108, 122, 137, 0.5);
  }
}

%component-gap {
    margin-bottom: 10%;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

header {
  width: 250px;
  height: 100%;
  color: $font-white;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
}

section {
  margin-left: -10px;
  margin-right: -8px;
  margin-top: -10px;
  padding-left: 250px;
}

.container {
  width: 100%;
}

.welcome {
  @extend %flex-row;
  @extend %bg-image-set;
  @extend %component-gap;
  text-align: center;
  background-image: url(../img/welcome.jpg);
  height: 100vh;
  color: $font-white;
  &-text {
    margin-top: 15%;
    font-family: $font-title;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
      margin-top: 10%;
    }
    p {
      font-size: 25px;
      margin-top: 15%;
    }
  }
}

.intro {
  @extend %flex-row;
  @extend %component-gap;
  text-align: center;
  &-text {
    @extend %flex-row;
    background-color: $bg-section;
    color: #cccccc;
    width: 90%;

    &-format {
      width: 65%;
      margin-bottom: 10%;
      h2 {
        margin-top: 10%;
        font-size: 35px;
        color: $font-white;
        font-family: $font-title;
      }
      p {
        font-size: 16px;
        margin-bottom: 15%;
        line-height: 1.7;
      }
      h4 {
        font-size: 20px;
        color: $font-white;
      }
    }
  }
}

.experience {
  @extend %bg-image-set;
  @extend %flex-row;
  @extend %component-gap;
  justify-content: space-around;
  background-image: url(../img/certificate.jpg);
  width: 100%;
  min-height: 300px;
  &-card {
    text-align: center;
    color: $font-white;
    font-size: 25px;
    margin: 20px;
  }
}

.services {
  @extend %flex-row;
  @extend %component-gap;
  &-cards {
    width: 70%;
    &-top {
      @extend %bg-image-set;
      @extend %card-text;
      position: relative;
      width: 100%;
      min-width: 200px;
      height: 200px;
      background-image: url(../img/strength.jpg);
    }
    &-pair {
      @extend %flex-row;
      margin-top: 5px;
      &-cardio {
        @extend %bg-image-set;
        position: relative;
        @extend %card-text;
        width: 49.5%;
        height: 300px;
        background-image: url(../img/cardio.jpg);
        margin-right: 1%;
      }
      &-sport {
        @extend %bg-image-set;
        position: relative;
        @extend %card-text;
        width: 49.5%;
        height: 300px;
        background-image: url(../img/sport.jpg);
      }
      &-injury {
        @extend %bg-image-set;
        position: relative;
        @extend %card-text;
        width: 49.5%;
        height: 400px;
        background-image: url(../img/injury.jpg);
        margin-right: 1%;
      }
      &-conditioning {
        @extend %bg-image-set;
        position: relative;
        @extend %card-text;
        height: 400px;
        width: 49.5%;
        background-image: url(../img/season-conditioning.jpg);
      }
    }
  }
}

.clients{
    @extend %flex-row;
    @extend %component-gap;
    &-cards{
        @extend %flex-colum;
        width: 70%;
        &-teams{
            position: relative;
            @extend %card-text;
            &-bg{
                @extend %bg-image-set;
                height: 300px;
                width: 100%;
                margin-right: 1%;
                background-image: url(../img/professional-training.jpg);
            }
            p{
                text-align: center;
                font-size: 25px;
                top: 60%;
            }
        }
        &-ages{
            position: relative;
            @extend %card-text;
            &-bg{
                @extend %bg-image-set;
                height: 300px;
                width: 100%;
                margin-right: 1%;
                background-image: url(../img/all-ages-training.jpg);
            }
            p{
                text-align: center;
                font-size: 25px;
                top: 60%;
            }
        }
    }
}

.program{
    @extend %bg-image-set;
    @extend %component-gap;
    background-image: url(../img/program.jpg);
    height: 400px;
    position: relative;
    &-text{
        align-content: center;
        position: absolute;
        color: $font-white;
        text-align: center;
        top:20%;
        width: 100%;
        h1{
            font-size: 30px;
        }
        &-article{
            @extend %flex-row;
            p{
                width: 50%;
            }
        }
        button{
            width: 230px;
            height: 50px;
            background-color: red;
            color: $font-white;
            border: none;
            font-size: 16px;
        }
    }
}

