$font-gray: gray;
$font-black: black;
$font-white: white;
$font-article: #cccccc;
$font-blue: #39a7df;
$bg-white: white;
$bt-red: rgba(197, 45, 45, 0.89);
$bg-section: rgb(19, 63, 85);
$font-title: "Poppins", sans-serif;
$font-text: "Nunito", sans-serif;
$font-subtitle: "Roboto", sans-serif;

%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

%flex-colum {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  vertical-align: center;
}

%bg-image-set {
  background-size: cover;
  background-repeat: no-repeat;
}

%card-text {
  p {
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: center;
    color: $font-white;
    font-family: $font-title;
    font-size: 24px;
    background-color: rgba(108, 122, 137, 0.5);
  }
}

%component-gap {
  margin-bottom: 10%;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

@media only screen and (max-width: 600px) {
  #toggle{
    padding-left: 50%
  }
}

@media screen and (min-width: 900px) {
  #toggle{
    padding-left: 0
  }
}

.nav-close {
  @extend %flex-colum;
  width: 300px;
  height: 100%;
  text-align: center;
  position: fixed;
  right: 0px;
  top: 0;
  background-color: transparent;
  button {
    padding-top: 10%;
    padding-left: 30%;
    border: unset;
    background-color: transparent;
    color: $font-blue;
    font-size: 24px;
    i {
      font-size: 30px;
    }
    z-index: 1;
  }
  span {
    display: none;
  }
  &-hidden {
    @extend %flex-colum;
    width: 100%;
    padding-top: 100px;
    color: black;
    z-index: 1;
    a {
      margin-top: 30px;
      text-decoration: none;
      color: $font-white;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav-open {
  @extend %flex-colum;
  width: 300px;
  height: 100%;
  text-align: center;
  position: fixed;
  right: 0px;
  top: 0;
  background-color: $bg-section;
  z-index: 1;
  button {
    border: unset;
    background-color: transparent;
    color: $font-blue;
    i {
      font-size: 30px;
    }
    z-index: 1;
  }
  span {
    display: block;
    
  }
  &-hidden {
    @extend %flex-colum;
    width: 100%;
    padding-top: 100px;
    color: black;
    z-index: 1;
    a {
      margin-top: 30px;
      text-decoration: none;
      color: $font-white;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  body {
    margin: auto;
  }
}

section {
  margin-left: -10px;
  margin-right: -8px;
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
  section {
    margin: 0;
  }
}

.container {
  width: 100%;
}

.welcome {
  @extend %flex-row;
  @extend %bg-image-set;
  @extend %component-gap;
  background-image: url(../img/welcome.jpg);
  height: 100vh;
  color: $font-white;
  &-nav {
    @extend %flex-row;
    position: fixed;
    justify-content: space-between;
    left: 10%;
    height: 50px;
    padding-top: 20px;
    img {
      width: 100px;
      height: 100px;
    }
  }
  &-text {
    @extend %flex-colum;
    justify-content: center;
    align-content: flex-start;
    padding-right: 150px;
    font-family: $font-title;
    width: 80%;
    margin-top: 100px;
    h1 {
      font-size: 40px;
      width: 260px;
      color: $font-white;
    }
    h2 {
      width: 280px;
      color: $font-blue;
      font-size: 1.8rem;
    }
    p {
      font-size: 25px;
      color: $font-blue;
    }
  }
}

.intro {
  @extend %flex-row;
  text-align: center;
  &-text {
    @extend %flex-row;
    background-color: $bg-section;
    color: #cccccc;
    width: 90%;

    &-format {
      width: 65%;
      margin-bottom: 10%;
      h2 {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 2rem;
        color: $font-white;
        font-family: $font-title;
      }
      h4 {
        font-size: 20px;
        color: $font-white;
        font-family: $font-subtitle;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .intro-text-format {
    h2 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.2rem;
    }
  }
}

.experience {
  @extend %bg-image-set;
  @extend %flex-row;
  @extend %component-gap;
  min-height: 300px;
  height: 100%;
  &-set {
    @extend %flex-colum;
    background-color: rgb(19, 63, 85, 0.9);
    width: 90%;
    padding: 100px 0;
    &-pair {
      @extend %flex-row;
      align-items: center;
      &-card {
        @extend %flex-colum;
        align-items: center;
        padding: 50px;
        width: 400px;
        height: 300px;
        text-align: center;
        color: $font-white;
        font-size: 20px;
        img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .experience-set-pair-card {
    width: 300px;
    padding: 50px 50px 0 50px;
  }
}

.lt {
  border-right: 1px $font-white solid;
  border-bottom: 1px $font-white solid;
}

.rb {
  border-left: 1px $font-white solid;
  border-top: 1px $font-white solid;
}

.rt {
  border-bottom: 1px $font-white solid;
  border-left: 1px $font-white solid;
}

.lb {
  border-right: 1px $font-white solid;
  border-top: 1px $font-white solid;
}

@media only screen and (max-width: 900px) {
  .lt,
  .rb,
  .rt,
  .lb {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px $font-white solid;
  }
}

.services {
  @extend %flex-row;
  @extend %component-gap;
  &-cards {
    width: 70%;
    // &-top {
    //   @extend %bg-image-set;
    //   @extend %card-text;
    //   p {
    //     top: 160px;
    //   }
    //   position: relative;
    //   z-index: -1;
    //   width: 100%;
    //   height: 280px;
    //   background-image: url(../img/strength.jpg);
    // }
    &-pair {
      @extend %flex-row;
      margin-top: 15px;
      &-strength{
        @extend %bg-image-set;
        position: relative;
        z-index: -1;
        @extend %card-text;
        width: 49%;
        height: 400px;
        background-image: url(../img/strength.jpg);
        margin-right: 2%;
      }
      &-kids{
        @extend %bg-image-set;
        position: relative;
        z-index: -1;
        @extend %card-text;
        width: 49%;
        height: 400px;
        background-image: url(../img/kids.jpg);
      }
      &-cardio {
        @extend %bg-image-set;
        position: relative;
        z-index: -1;
        @extend %card-text;
        width: 49%;
        height: 400px;
        background-image: url(../img/cardio.jpg);
        margin-right: 2%;
      }
      &-sport {
        @extend %bg-image-set;
        position: relative;
        z-index: -1;
        @extend %card-text;
        width: 49%;
        height: 400px;
        background-image: url(../img/sport.jpg);
      }
      &-injury {
        @extend %bg-image-set;
        position: relative;
        z-index: -1;
        @extend %card-text;
        width: 49%;
        height: 400px;
        background-image: url(../img/injury.jpg);
        margin-right: 2%;
      }
      &-conditioning {
        @extend %bg-image-set;
        position: relative;
        z-index: -1;
        @extend %card-text;
        height: 400px;
        width: 49%;
        background-image: url(../img/season-conditioning.jpg);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .services-cards-pair-cardio,
  .services-cards-pair-sport,
  .services-cards-pair-injury,
  .services-cards-pair-conditioning {
    width: 100%;
    margin: 0;
  }
}

.program {
  @extend %bg-image-set;
  @extend %component-gap;
  background-image: url(../img/program.jpg);
  height: 400px;
  position: relative;
  &-text {
    @extend %flex-colum;
    align-content: center;
    position: absolute;
    color: $font-white;
    text-align: center;
    top: 20%;
    width: 100%;
    align-items: center;
    h3 {
      width: 80%;
      font-size: 25px;
      font-family: $font-article;
    }
    a {
      margin-top: 30px;
      padding: 20px 50px;
      background-color: rgb(19, 63, 85, 0.9);
      border: none;
      color: $font-white;
      border-radius: 12px;
      font-size: 16px;
      font-family: $font-subtitle;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.comment {
  @extend %flex-row;
  @extend %component-gap;
  &-cards {
    @extend %flex-colum;
    width: 80%;
    // min-width: 350px;
    &-card {
      @extend %flex-row;
      align-items: stretch;
      border: 1px solid $font-blue;
      border-radius: 12px;
      min-width: 210px;
      margin: 15px;
      padding: 20px;
      &-article {
        width: 49%;
        min-width: 200px;
        img {
          width: 50px;
        }
        p {
          font-family: $font-text;
        }
      }
      &-client {
        padding-top: 40px;
        padding-left: 60px;
        font-family: $font-subtitle;
      }
    }
  }
}

.contact {
  @extend %flex-row;
  @extend %bg-image-set;
  background-image: url(../img/contact.jpg);
  min-height: 600px;
  justify-content: space-evenly;
  align-content: center;
  padding: 60px 0;
  &-details {
    width: 350px;
    min-width: 300px;
    color: $font-white;
    h3 {
      font-size: 20px;
      color: $font-blue;
    }
    p {
      font-size: 18px;
    }
    a {
      text-decoration: underline;
      color: $font-blue;
      :hover {
        color: $font-blue;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    text-align: center;
  }
}

footer {
  @extend %flex-row;
  padding-top: 100px;
  .copyright {
    //width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    text-align: center;
  }
}
